# PostgreSQL
POSTGRES_USER=burrow
POSTGRES_PASSWORD=changeme
POSTGRES_DB=burrow_dev

# Phoenix Backend
SECRET_KEY_BASE=generate_a_secret_key_here
DATABASE_URL=ecto://burrow:changeme@db/burrow_dev
PHX_HOST=localhost
PORT=4000

# Redis
REDIS_URL=redis://redis:6379
